<!-- <div class="dashboard-container"> -->
<div class="grid-container">
  <div class="left">
    <h2><u>My Dashboard</u></h2>
    <h1 class="dashboard-details"><%= @user.first_name %></h1>
    <h1 class="dashboard-details"><%= @user.last_name %></h1>
    <h1 class="dashboard-details"><%= @user.email %></h1>
    <p>
      <%= link_to "Edit profile", edit_user_path(@user), class: "btn btn-primary"%>
    </p>

    <% if @user.technologies.any? %>
       <% @user.technologies.each do |tech| %>
          <span class="tech-tag <%= tech.name.downcase %>-tag"><%= tech.name %></span>
       <% end %>
       <%= link_to "Add new speciality", new_user_user_technology_path(@user), class: "btn btn-primary"%>
    <% else %>
      <%= link_to "Become a teacher",new_user_user_technology_path(@user), class: "btn btn-primary"%>
    <% end %>
  </div>

<div class="wrapper">
  <div class="tabs">
    <button onclick="openMe('active-tickets')" class="tab">Active Tickets</button>
    <button onclick="openMe('tickets-created')" class="tab tab_two">Tickets Created</button>
  </div>
  <div id="active-tickets" class="content">
    <h2>Tickets I need to answer</h2>
    <% @user.tickets_as_teacher.each do |ticket| %>
    <p><%= ticket.title %></p>
    <p><%= ticket.description %></p>
    <% end %>
  </div>
<div id="tickets-created" class="content content_two">
    <h2>Tickets I made</h2>
    <% @user.tickets_as_student.each do |ticket| %>
    <p><%= ticket.title %></p>
    <p><%= ticket.description %></p>
    <% end %>
  </div>

<script>
  function openMe(inside) {
    var i, content;
    content = document.getElementsByClassName('content');
    for (i = 0; i < content.length; i++){
      content[i].style.display = 'none';
    }
    document.getElementById(inside).style.display = "block";
  }
</script>

