<div class="row min-height">
  <div class="col-xs-3">
    <div class="dashboard-sidebar">
      <div class="sidebar-img" style="background-image: url(http://kitt.lewagon.com/placeholder/users/ssaunier)"></div>




      <h4 class=""><%= @user.first_name %> <%= @user.last_name %></h4>
      <p class="dashboard-email"><%= @user.email %></p>


        <%= link_to edit_user_path(@user), class: "edit-btn" do %>
          <i class="fa fa-cog" aria-hidden="true"></i>
        <% end %>


      <% if @user.technologies.any? %>
         <div class="tags">
           <% @user.technologies.each do |tech| %>
              <span class="tech-tag <%= tech.name.downcase %>-tag"><%= tech.name %></span>
           <% end %>
          <%= link_to "+", new_user_user_technology_path(@user), class: "tech-tag tech-btn"%>
         </div>
      <% else %>
        <%= link_to "Become a teacher",new_user_user_technology_path(@user), class: "btn btn-primary"%>
      <% end %>
    </div>
  </div>
  <div class="col-xs-9">
    <h2>My Dashboard</h2>
    <div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Tickets I created</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Tickets I have to answer</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
          <% @user.tickets_as_student.each do |ticket| %>

            <div class="product">
              <div class='product-upvote'>
                <div class="product-arrow"></div>
                <div class='product-count'><ol><%=Ticket.count%></ol></div>
              </div>
              <img src="https://kitt.lewagon.com/placeholder/users/random" alt="kudoz" class="product-image hidden-xs">
              <div class='product-body'>

                <% if ticket.status != 'pending' %>
                <h3><%= ticket.title %></h3>
                <p><%= ticket.teacher.first_name %> <%= ticket.teacher.last_name %> </p>
                <%else %>
              <h3>Ticket is still pending</h3>
              <% end %>
              </div>
              <ul class="list-inline product-controls hidden-sm hidden-xs">
                <li><%= ticket.status %></li>
                <%= link_to ticket_path(ticket) do  %>
                  <li><i class="fa fa-star"></i></li>
                <% end %>
              </ul>
            </div>


          <% end %>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
          <% @user.tickets_as_teacher.each do |ticket| %>

            <div class="product">
              <div class='product-upvote'>
                <div class="product-arrow"></div>
                <div class='product-count'>95</div>
              </div>
              <img src="http://kitt.lewagon.com/placeholder/users/ssaunier" alt="kudoz" class="product-image hidden-xs">
              <div class='product-body'>
                <h3><%= ticket.title %></h3>
                <p><%= ticket.student.first_name %> <%= ticket.student.last_name %> </p>
              </div>
              <ul class="list-inline product-controls hidden-sm hidden-xs">
                <li><%= ticket.status %></li>
                 <%= link_to ticket_path(ticket) do  %>
                  <li><i class="fa fa-star"></i></li>
                <% end %>
              </ul>
            </div>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>

