
<h1><%= @user.email %></h1>
<h1><%= @user.first_name %></h1>
<h1><%= @user.last_name %></h1>
<%= link_to "Edit profile", edit_user_path(@user), class: "btn btn-primary"%>
<%= link_to "Become a teacher", new_user_user_technology_path(@user), class: "btn btn-primary"%>







<ol
<%= user.technologies.each do|technology| %>
<li>
  <%= technology.icon %>
  <%= link_to 'Add a technolgy to profile',  %>
</li>

</ol>













  <div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h1>Edit profile</h1>
        <%= simple_form_for(@user) do |f| %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :email %>
          <%= f.submit %>
        <% end %>
    </div>
  </div>
</div>
