<%= simple_form_for(@ticket) do |f| %>
  <%= f.input :title %>



  <div class="form-group text optional ticket_description">
    <label class="control-label text optional" for="ticket_description">Description</label><br><span id="how-it-works" class="slide-down">See how to add code</span>
    <textarea class="form-control text optional" name="ticket[description]" id="ticket_description"></textarea>
    <div class="explanation hidden">
    <p>If you want to include code in your description you must use markdown, for example:
    </p>
    <p>```erb</p>
    <p>puts "Hello</p>
    <p>```</p>
    <p>would result in this:</p>
    <%= raw render_description("```erb\n puts 'Hello'\n```") %>
  </div>
  </div>




  <div class="form-group check_boxes required ticket_ticket_technologies_technology_id">
    <input type="hidden" name="ticket[ticket_technologies][technology_id][]" value="">
      <div class="technology-choices">
        <% Technology.all.each do |tech| %>
          <input class="hidden" type="checkbox" value="<%= tech.id %>" name="ticket[ticket_technologies][technology_id][]" id="ticket_ticket_technologies_technology_id_<%= tech.id %>">
          <label for="ticket_ticket_technologies_technology_id_<%= tech.id %>" class="technology-choice">
            <%= tech.name %>
            <i class="fa fa-check"></i>
          </label>
        <% end %>
      </div>
    </div>


  <%= f.submit class: "btn btn-primary" %>
<% end %>


<%= javascript_pack_tag "form_ticket" %>
