<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner">

  <div class="banner-content text-center">
    <h1>Emergency Aid for Tech Projects</h1>

    <p>Coding issues? Get professional help in 5 min.</p>
    <% if !user_signed_in? %>
      <%= link_to "Get Help", new_user_registration_path, class: "btn btn-lg btn-primary", data: {toggle: 'modal', target: '#exampleModal'}  %>
    <% else %>
      <%= link_to "Get Help", new_ticket_path, class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>

</div>


<div class="w3-container">
  <h2>About</h2>
  <p>Learn2 is a platform for coding novices AND experts to get help in 5 minutes on various programming languages.</p>
  <p> Best of both world: Tech guides are able to teach and earn but also seek help themselves from peers for their technical issues.</p>
while tech novices are offered unparalled flexible access to high quality tech experts in the field of their choice. </p>



    <footer class="w3-container w3-blue">
      <h5>Footer</h5>
    </footer>
  </div>
</div>


<div class="w3-container">
  <!-- <h3>How it works</h3> -->
  <button onclick="document.getElementById('id01').style.display='block'" class="btn-treehouse">How it works</button>

  <div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-teal">
        <span onclick="document.getElementById('id01').style.display='none'"
        class="w3-button w3-display-topright">&times;</span>
      </header>
      <div class="w3-container">
        <p>1. Sign up and describre what you are stuck on.</p>
        <p>2. Pay a small fee and get started with an expert in 5 min.</p>
        <p>3. Follow-up for further feedback if you need it.
        </div>
    </div>
  </div>

<hr>
<h1 class= "text-center"> Meet the team</h1>
  <div class="row">

  <div class="column">
    <div class="meet-the-team-card">
      <%= image_tag 'william.png', class: 'meet-team-photo' %>
      <div class="container">
        <h2>William Bland</h2>
        <p class="title">Junior Fullstack Dev &amp; Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="meet-the-team-card">
      <%= image_tag 'ahmed.png', class: "meet-team-photo" %>
      <div class="container">
        <h2>Ahmed Elmi</h2>
        <p class="title"> Junior Fullstack Dev &amp; Co-Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="meet-the-team-card">
      <%= image_tag 'david.png', class: "meet-team-photo" %>
      <div class="container">
        <h2>David O'Neill</h2>
        <p class="title">Junior Fullstack Dev &amp; Co-Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>example@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

</div>



<div class="row">
  <h2 class="start-plan">It all start with a plan</h2>
  <div class="payment-container">
    <div class="col-xs-12 col-sm-4 payment-card-container">
      <div class="payment-card basic">
        <h3> Basic Plan</h3>
          <h5> £10 </h5>
          <h6> per ticket</h6>
          <h4> - Pay as you go</h4>
          <h4> - Includes feedback till problem resolved</h4>
          <h4> - Includes option to become a tech guide </h4>

      </div>
    </div>

    <div class="col-xs-12 col-sm-4 payment-card-container">
      <div class="payment-card advanced">
        <h3>Advanced Plan</h3>
          <h5> £20 </h5>
          <h6> per month</h6>
          <h4> - 5 tickets</h4>
          <h4> - Includes feedback till problem resolved</h4>
          <h4> - Includes option to become a tech guide </h4>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4 payment-card-container">
      <div class="payment-card premium">
        <h3>Premium Plan</h3>
          <h5> £50 </h5>
           <h6> per month</h6>
          <h4> - 15 tickets</h4>
          <h4> - Includes feedback till problem resolved</h4>
          <h4> - Includes option to become a tech guide </h4>
      </div>
    </div>
  </div>
</div>


  <!-- <div class="payment-container">
    <div class="payment-columns">
        <div class="payment-card">
          <div class="col-xs-12 col-sm-4"></div>
            <h3>Basic Plan</h1>
            <li class="price"> £10 / ticket</li>
            <li> Pay as you go</li>
            </div>
          </div>
        </div>
    </div>

    <div class="payment-container">
       <div class="payment-columns">
        <div class="payment-card">
          <div class="col-xs-12 col-sm-4"></div>
            <h3>Advanced Plan</h1>
            <li class="price"> £20 /month</li>
            <li> 5 tickets </li>
            </div>
          </div>
        </div>
    </div>

    <div class="payment-container">
       <div class="payment-columns">
        <div class="payment-card">
          <div class="col-xs-12 col-sm-4"></div>
            <h3>Premium Plan</h1>
            <li class="price"> £50 / ticket</li>
            <li> 15 tickets</li>
            </div>
          </div>
        </div>
    </div> -->



</div>

<%= render 'shared/modal' %>


