<h2>Tickets Pending </h2>

<div class= "container">
  <div class="row">
  <% @tickets.each do |ticket| %>
    <div class="col-xs-12 col-md-6">
      <div class="card">
        <div class="card-user" style="background-image: url(<%= ticket.student.github_avatar_url %>)"></div>
        <div class="card-main">
          <div class="card-header <%= ticket.status %>">
            <span><%= ticket.student.github_username %></span>
            <span><%= ticket.status %></span>
          </div>
          <div class="card-content">
            <div>
              <h3><%= ticket.title %></h3>
              <p>Created 5 minutes ago</p>
            </div>

            <div class="card-tags">
                <% ticket.technologies.each do |technology| %>
                <span class="tech-tag <%= technology.name.downcase %>-tag">
                  <%= technology.name %>
                </span>
                <% end %>
            </div>
          </div>
        </div>
        <%= link_to "", ticket_path(ticket), class: "card-link"  %>
      </div>
    </div>
    <% end %>
  </div>
</div>






