<p>All the tickets</p>

<% @tickets.each do |ticket| %>
<ul>
<li> Created By <%= ticket.student.first_name %> </li>
<li> <%= ticket.title %> </li>
<li> <%= ticket.description %> </li>
<li> <%= ticket.technologies.first&.name %> </li>
<%= link_to "show",ticket_path(ticket)  %>
</ul>
<%  end %>
