<h1><%= @ticket.title %></h1>

<!-- # this used to have an option to add a ticket technology but Ahmed has added this to the new page  -->


<p><%= @ticket.description %></p>

<!-- # this displays an edit option if the user viewing the ticket is the user who created the  -->

<% @ticket.technologies.each do |tech| %>
  <p><%= tech.name %></p>
<% end %>

<% if @ticket.student == current_user %>
  <%= link_to "Edit", edit_ticket_path %>
<% end %>

<% if current_user.teacher? &&  @ticket.student != current_user && @ticket.available? %>
  <%= link_to "Take this ticket", ticket_accept_ticket_path(@ticket), class: "btn btn-primary"  %>
<% end %>

<% if @ticket.taken? &&  (@ticket.student == current_user || @ticket.teacher == current_user)  %>

  <h1>Add comment </h1>
  <%= simple_form_for [@ticket, @comment] do |c| %>
    <%= c.input :content %>
    <%= c.button :submit %>
  <% end %>

  <% @comments.each do |c| %>
    <p><%= c.content %></p>
    <p><%= c.user.email %></p>
      <p><%= markdown("sfgdfgdfg") %></p>
  <% end %>
<% end %>




