<div class="container">
  <div class="show-ticket">
    <div class="ticket-header <%= @ticket.taken? ? "taken" : "available" %>">
      <span><%= @ticket.title %></span>
      <span><%= @ticket.status %></span>
    </div>
    <div class="ticket-main">
      <div class="left">
        <div class="ticket-info">
         <% if @ticket.student.github_avatar_url%>
           <%= image_tag @ticket.student.github_avatar_url, class: "avatar" %>
         <% else %>
           <%= image_tag "logo.png", class: "avatar" %>
         <% end %>
         <span>Created <span id="min-created-ago"><%= (Time.now - @ticket.created_at).to_i / 60 %></span> minutes ago.</span>
        </div>
        <div class="ticket-description">
          <%= raw render_description(@ticket.description) %>
        </div>

        <% if user_signed_in? %>
        <% if current_user.teacher? &&  @ticket.student != current_user && @ticket.available? %>
          <%= link_to "Take this ticket", ticket_accept_ticket_path(@ticket), class: "btn btn-lg btn-primary", method: :patch  %>
        <% end %>
        <% end %>
        <%# if @ticket.student == current_user %>
          <%# link_to "Edit", edit_ticket_path, class: "btn btn-lg btn-primary" %>
        <%# end %>
        <% if @ticket.state == 'pending' %>
          <%= @ticket.state %>
          <%= form_tag ticket_payments_path(@ticket) do %>
            <span>Amount: <%= humanized_money_with_symbol(@ticket.price) %></span>

            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-name="<%= @ticket.student.email %> ticket"
              data-email="<%= current_user.email %>"
              data-description="Ticket <%= @ticket.sku %>"
              data-amount="<%= @ticket.price_cents %>"
              data-currency="<%= @ticket.price.currency %>">
            </script>
          <% end %>
        <% end %>



      </div>
      <div class="right">
        <% if @ticket.chat_available? %>
          <div class="comments">


          <% @comments.each do |c| %>
            <div class="message-ticket <%= "text-right" if current_user == c.user %>">
              <% if @ticket.student.github_avatar_url%>
                <%= image_tag current_user.github_avatar_url, class: "avatar" %>
              <% else %>
                <%= image_tag "logo.png", class: "avatar" %>
              <% end %>
              <%= markdown(c.content) %>
            </div>
          <% end %>
          </div>
          <%= simple_form_for [@ticket, @comment] do |c| %>
            <%= c.input :content %>
            <%= c.button :submit, class: "btn btn-primary", id: "comment-button" %>
            <!-- <a id="video-chat">Video Chat</a> -->
            <%= link_to "Video chat", ticket_create_video_chat_path(@ticket), method: :post %>
          <% end %>
        <% else %>
          <% if current_user.id == @ticket.student_id %>
            <div class= "card-index-show">
              <p>Payment has been received and a teacher will answer your ticket shortly</p>
            </div>
            <div class= "card-index-show">
              <p>If the ticket has not been responded to within 5 minutes you will received a full refund</p>
            </div>
          <% end %>
          <% if @ticket.paid_at && ((Time.now - @ticket.paid_at).to_i < 301) %>
            <div id = "clock" class="clock">
              <h5 id = "clock-info">Mins: <span id="countdown-minutes"><%= (300 - (Time.now - @ticket.paid_at).to_i) / 60 %></span></h5>
              <h5 id = "clock-info-2" >Secs: <span id="countdown-seconds"><%= (300 -(Time.now - @ticket.paid_at).to_i) % 60 %></span></h5>
            </div>
          <% end %>
        <% end %>
        <div class="expired">Ticket Expired</div>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'countdown' %>


