<div class="container">
  <div class="show-ticket">
    <div class="ticket-header <%= @ticket.taken? ? "taken" : "available" %>">
      <span><%= @ticket.title %></span>
      <span><%= @ticket.status %></span>
    </div>
    <div class="ticket-main">
      <div class="left">
        <div class="ticket-info">
         <% if @ticket.student.github_avatar_url%>
           <%= image_tag current_user.github_avatar_url, class: "avatar" %>
         <% else %>
           <%= image_tag "logo.png", class: "avatar" %>
         <% end %>
         <span>Created <%= (Time.now - @ticket.created_at).to_i / 60 %> minutes ago.</span>
        </div>
        <div class="ticket-description">
          <%= render_description(@ticket.description).html_safe %>
        </div>
        <% if current_user.teacher? &&  @ticket.student != current_user && @ticket.available? %>
          <%= link_to "Take this ticket", ticket_accept_ticket_path(@ticket), class: "btn btn-lg btn-primary", method: :patch  %>
        <% end %>
        <% if @ticket.student == current_user %>
          <%= link_to "Edit", edit_ticket_path, class: "btn btn-lg btn-primary" %>
        <% end %>
        <% if @ticket.state == 'pending' %>
          <%= @ticket.state %>
          <%= form_tag ticket_payments_path(@ticket) do %>
            <span>Amount: <%= humanized_money_with_symbol(@ticket.price) %></span>

            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-name="<%= @ticket.student.email %> ticket"
              data-email="<%= current_user.email %>"
              data-description="Ticket <%= @ticket.sku %>"
              data-amount="<%= @ticket.price_cents %>"
              data-currency="<%= @ticket.price.currency %>">
            </script>
          <% end %>
        <% end %>



      </div>
      <% if @ticket.chat_available? %>
        <div class="right">
          <% @comments.each do |c| %>
            <div class="message-ticket <%= "text-right" if current_user == c.user %>">
              <% if @ticket.student.github_avatar_url%>
                <%= image_tag current_user.github_avatar_url, class: "avatar" %>
              <% else %>
                <%= image_tag "logo.png", class: "avatar" %>
              <% end %>
              <%= markdown(c.content) %>
            </div>
          <% end %>
          <%= simple_form_for [@ticket, @comment] do |c| %>
            <%= c.input :content %>
            <%= c.button :submit, class: "btn btn-primary" %>
          <% end %>
        </div>

      <% end %>
    </div>
  </div>
</div>













