<div class="container min-height">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h1> What do you know? </h1>
        <%= simple_form_for([@user, @user_technology]) do |f| %>

          <div class="form-group check_boxes required user_user_technologies_technology_id">
            <input type="hidden" name="user[user_technologies][technology_id][]" value="">
              <div class="technology-choices">
                <% Technology.all.each do |tech| %>
                  <input class="hidden" type="checkbox" value="<%= tech.id %>" name="user[user_technologies][technology_id][]" id="user_user_technologies_technology_id_<%= tech.id %>">
                  <label for="user_user_technologies_technology_id_<%= tech.id %>" class="technology-choice">
                    <%= tech.name %>
                    <i class="fa fa-check"></i>
                  </label>
                <% end %>
              </div>
            </div>

          <%= f.submit value: 'Add your expert languages', class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag "form_ticket" %>
